DesignPatterns/obj/DesignPatterns.csproj.nuget.dgspec.json
DesignPatterns/obj/DesignPatterns.csproj.nuget.g.props
DesignPatterns/obj/DesignPatterns.csproj.nuget.g.targets
DesignPatterns/obj/project.assets.json
DesignPatterns/obj/project.nuget.cache
DesignPatterns/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DesignPatterns/obj/Debug/net8.0/DesignPatterns.AssemblyInfo.cs
DesignPatterns/obj/Debug/net8.0/DesignPatterns.AssemblyInfoInputs.cache
DesignPatterns/obj/Debug/net8.0/DesignPatterns.assets.cache
DesignPatterns/obj/Debug/net8.0/DesignPatterns.GeneratedMSBuildEditorConfig.editorconfig
DesignPatterns/obj/Debug/net8.0/DesignPatterns.GlobalUsings.g.cs
